<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
</head>
<body>
    <h1>Добро пожаловать, {{ user_data['nickname'] }}!</h1>
    {% if user_data['email'] %}
        <p>Email: {{ user_data['email'] }}</p>
    {% endif %}
    <p>Ваш кошелек: {{ user_data['wallet_address'] }}</p>
    {% if user_data['private_key'] %}
        <p>Приватный ключ(Мы его не храним, запишите этот ключ куда нибудь, иначе никогда не получите доступ к своему кошельку): 
            {{ user_data['private_key'] }}</p>
    {% endif %}
</body>
</html>
