<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Выберите способ входа:</p>
    <ul>
        <li><a href="/login">Войти через Google</a></li>
        <li><a href="/login_email">Войти через email</a></li>
        <li><a href="/register">Зарегистрироваться через email</a></li>
        <!-- Telegram Login button -->
        <script async src="https://telegram.org/js/telegram-widget.js?7"
        data-telegram-login="blytNFT_bot"
        data-size="large"
        data-radius="10"
        data-auth-url="https://088a-185-30-229-66.ngrok-free.app/auth"></script>

    </ul>
</body>
</html>
